<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="zh-CN">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <meta name="description" content="Direct Message">
    <meta name="author" content="jiangtaoran">

    <title>Direct Message</title>

  </head>

  <body>
    <style type="text/css">
      body {
        padding-top: 50px;
      }
    </style>

    {% verbatim myblock %}
    <div id="app"></div>
    {% endverbatim myblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="/static/landing/jsencrypt.min.js"></script>
    <script src="/static/landing/md5.min.js"></script>
    <script src="/static/landing/vendor.js"></script>
    <script src="/static/landing/main.js"></script>

  </body>

</html>

